<h1><% @team.name %></h1>
<h2><% @team.motto %></h2>

<h2>Hero Name: <%= @heroes[].name%></h2>
<h3>Hero Power: <%= %></h3>
<h3>Hero Biography: <%= %></h3>

<h2>Hero Name: <% %></h2>
<h3>Hero Power: <%= %></h3>
<h3>Hero Biography: <%= %></h3>

<h2>Hero Name: <% %></h2>
<h3>Hero Power: <%= %></h3>
<h3>Hero Biography: <%= %></h3>
